.App {
  text-align: center;
}

#trade-container {
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1200px;
}
.css-1t6e9jv-MuiCardActions-root>:not(:first-of-type) {
  margin-left: -10px !important;
}
.drawer-header {
  top: 160px !important;
  width: 65px !important;
  left: 0px !important;
  background-color: transparent !important;
}
@media screen and (max-width: 900px) {
  .drawer-header {
    top: 80px !important;

  }
}
.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  display: none !important;
}

.css-1gjgmky-MuiToggleButtonGroup-root {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.css-1pqm26d-MuiAvatar-img:hover {
  cursor: pointer;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  display: none !important;
}

.css-1gjgmky-MuiToggleButtonGroup-root {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.css-1pqm26d-MuiAvatar-img:hover {
  cursor: pointer;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: green !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: green !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid green !important;
}

.images {
  height: 100px;
  width: 100px;
}