
.App {
  text-align: center;
  perspective: 1000px ;
}

#trade-container {
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1200px;
}
.css-1t6e9jv-MuiCardActions-root>:not(:first-of-type) {
  margin-left: -10px !important;
}
.drawer-header {
  top: 160px !important;
  width: 65px !important;
  left: 0px !important;
  background-color: transparent !important;
}
@media screen and (max-width: 900px) {
  .drawer-header {
    top: 80px !important;

  }
}
.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  display: none !important;
}

.css-1gjgmky-MuiToggleButtonGroup-root {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.css-1pqm26d-MuiAvatar-img:hover {
  cursor: pointer;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  display: none !important;
}

.css-1gjgmky-MuiToggleButtonGroup-root {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}

.css-1pqm26d-MuiAvatar-img:hover {
  cursor: pointer;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: green !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: green !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid green !important;
}

.images {
  height: 100px;
  width: 100px;
}


#dragBox,#spinBox{
  position: relative;
  display: flex;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

#spinBox {
  width: 280px;
  height: 200px;
  animation: spin 100s infinite linear;
}

#dragBox img,video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0 50px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0005);
  background-color: transparent;

}

#dragBox img:hover {
  box-shadow: 0 0 15px #fffd;
  transform: scale(1.5)
}

#dragBox #focusBox{
  width: 800px;
  background-color:rgba(123,239,178,0.1);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 50px;
  animation: spin2 100s infinite linear;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0005);

}
#dragBox #focus {
  width: 100%;
  height: 100%;
  color: black;
  position: absolute;

}

#ground {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -70%;
  left: -50%;
  background: -webkit-radial-gradient(center center,farthest-side,rgb(99,227,90),transparent);
  transform: rotateX(-90deg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: green !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: green !important;
}

#itour_share_link {
  display: none !important;
}

@keyframes spin{
    from{
          transform: rotateY(0deg);
    }
    to{
          transform: rotateY(360deg);
    }
}
@keyframes spin2{
    from{
          transform: translateY(-80%) rotateY(360deg)  scale(2.5);
    }
    to{
          transform: translateY(-80%) rotateY(0deg) scale(2.5);
    }
}


@media screen and (max-width:1300px) {


  #dragBox {
    display: none;
  }

}




/* background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%); */